@model IEnumerable<ITI_Project.BLL.ModelVM.OrderModelVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="order-container">
    <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #674636;">
        <b>Orders</b> <i class='far fa-edit'></i>
    </p>
    @if (Model == null || Model.Count() == 0)
    {
        <p style="color: #674636">You do not have any orders yet! </p>
    }
    else
    {
        <table class="base-table">
            <thead>
                <tr>
                    <th class="Customer-Name">Customer Name</th>
                    <th class="Order-Date">Order Date <i class='fas fa-calendar-alt'></i>:</th>
                    <th class="Customer-Location">Customer Location</th>
                    <th class="Customer-Number">Phone Number</th>
                    <th class="Customer-Items">Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CustomerName</td>
                        <td>@item.OrderDate</td>
                        <td>@item.ShippingAddress</td>
                        <td>@item.Phone_Number</td>
                        <td>
                            <a class="link" href="@Url.Action("ViewOrderItems", "Order", new { OrderId = item.Id, vendorId = item.VendorId })">View</a>
                            <a class="link" href="@Url.Action("DeleteOrder", "Order", new { OrderId = item.Id, vendorId = item.VendorId })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="button-container">
      <a class="button1" href="@Url.Action("DeleteOrders", "Order")">Clear History</a>
        </div>
    }
</div>

<style>
    body {
        background-color: #FFFBF5;
        padding-top: 70px;
    }

    .order-container {
        max-width: 100%;
        background-color: #F7EFE5;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .base-table {
        width: 100%;
        border-color: #674636;
    }

        .base-table th, .base-table td {
            border: 1px solid #ccc;
            background-color: #F7EFE5;
            padding: 10px;
            text-align: left;
            color: #674636;
            text-align: center;
        }

        .base-table td {
            border: 1px solid #ccc;
            background-color: #FCFAEE;
            padding: 10px;
            text-align: left;
        }

    .link {
        color: #674636;
        text-decoration: none;
        padding-left: 35px;
        box-shadow: none;
        text-align:center;
    }

        .link:hover {
            text-decoration: none;
            color: #674636;
            text-decoration: none;
         
            box-shadow: none;
        }

    /* Button styling */
    .button1 {
        border: 1px solid #ccc;
        background-color: #F7EFE5;
        padding: 10px 20px;
        text-align: center;
        color: #674636;
        display: inline-block;
        font-weight:bold;
    }

        .button1:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
            text-decoration: none;
        }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

</style>
