@model IEnumerable<ITI_Project.BLL.ModelVM.OrderModelVM>

@{
    ViewData["Title"] = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";

}


@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="order-container">
    <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #674636;"> <b>Orders</b> <i class='far fa-edit'></i></p>

    <table class="base-table">
        <thead>
            <tr>
                <th class="Customer-Name">
                 Customer Name : 
             </th>
                <th class="Order-Date">
                    Order Date <i class='fas fa-calendar-alt'></i> :
                </th>
                <th class="Customer-Location">
                    Customer Location <i class="material-icons" style="width:20px">add_location</i> :
                </th>
                <th class="Customer-Number">
                     Phone Number :
                </th>
                <th class="Customer-Items">
                    Actions <i class='fas fa-cart-arrow-down'></i> :
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @item.CustomerName
                        Customer

                    </td>
                    <td>
                        @item.OrderDate
                    </td>
                    <td>
                        @item.ShippingAddress
                        
                    </td>
                    <td>
                        @item.Phone_Number
                        
                    </td>
                    <td>
                        <a href="@Url.Action("ViewOrderItems" , "Order" , new {OrderId = item.Id , vendorId = item.VendorId })">  View</a>
                        <a href="@Url.Action("DeleteOrder" , "Order" , new {OrderId = item.Id  , vendorId = item.VendorId})">  Delete</a>
                    </td>
                    
                    
                      

                </tr>
            }
        </tbody>
</table>

    <button> <a href="@Url.Action("DeleteOrder" , "Order" )">  Delete</a>   </button>
</div>


<style>

    body {
        background-color: #FFFBF5;
        padding-top: 70px;
    }

    .order-container {
        max-width: 100%;
        background-color: #F7EFE5;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .base-table {
        width: 100%;
        border-color: #674636;
    }

        .base-table th, .base-table td {
            border: 1px solid #ccc;
            height:auto;
            background-color: #F7EFE5;
            padding: 10px;
            text-align: left;
            color: #674636;
        }



        .base-table td {
            border: 1px solid #ccc;
            background-color: #FCFAEE;
            padding: 10px;
            text-align: left;
        }

    /* Nested table styling */
    .nested-table {
        width: 100%;
        border-color: #674636;
        border-radius:60px;
    }
           .nested-table th .nested-table td{
            border: 1px solid #ccc;
            background-color: #F7EFE5;
            border-radius: 60px;
            padding: 10px;
            text-align: left;
            color: #674636;
        }
        .nested-table td {
            border: 1px solid #ccc;
            background-color: #FCFAEE;
            padding: 10px;
            text-align: left;
        }
        a{
        color: #674636;
        font-weight:bold;
        }
</style>