@model ITI_Project.BLL.ModelVM.GetInvoiceVM

@{
    ViewData["Title"] = "Read";
    ViewData["HideHeaderFooter"] = true;

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-brown w-100">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="#">Furniture Store</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown custom-dropdown">
                    <a class="navbar-brand text-light dropdown-toggle d-flex align-items-center" href="#" id="myAccountDropdown" role="button">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> My Account
                    </a>
                    <ul class="dropdown-menu dropdown-custom" aria-labelledby="myAccountDropdown">
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="invoice-container">
    <p class="text-brown text-center" style="font-family: 'Times New Roman', serif; font-size: 30px; color: #674636;"> <b>Your Invoice </b><i class='fas fa-file-alt'></i></p>

    <div class="company-details">
        <p><strong>Company Name :</strong> Furniture Gallery</p>
        <p><strong>Date:</strong> @DateTime.Now</p>
    </div>

    <div class="customer-details">
        <h3>Bill To:</h3>
        @Model.CustomerName <!-- Assuming the model has a property for the customer's name -->
    </div>

    <table id="invoice-items">
        <thead id="Thead">
            <tr>
                
               
                <th>Payment Method <i class='fas fa-money-check-alt'></i></th>
                <th>Paid <i class='far fa-handshake'></i></th>
                <th>Payment Date <i class='fas fa-calendar-alt'></i></th>
            </tr>
        </thead>
        <tbody id="items-body">
            <tr>
               
              
                <td>@Model.PaymentMethod</td>
                <td>@(Model.IsPaid ? "Yes" : "No")</td>
                <td>@Model.PaymentDate.ToString("MM/dd/yyyy")</td>
            </tr>
        </tbody>
    </table>

    <center>
        <div class="Total">
            <p><strong>Total:</strong> @Model.TotallPrice <i class='fas fa-dollar-sign'></i></p>
        </div>
    </center>

    <center><button class="print-invoice mt-4">Print <i class='fas fa-print'></i></button></center>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<style>
    .navbar {
        padding: 5px;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
    }

    .bg-brown {
        background-color: #865439;
    }

    .navbar-brand, .nav-link {
        font-size: 18px;
        color: #FFF8E7 !important;
    }

        .nav-link:hover, .dropdown-item:hover {
            color: #FFF8E7 !important;
            background-color: #654321 !important;
        }

    body {
        background-color: #FFFBF5;
        padding-top: 70px;
    }

    .invoice-container {
        max-width: 800px;
        background-color: #F7EFE5;
        margin: 50px auto;
        background: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .company-details, .customer-details {
        margin: 20px 0;
        color: #674636;
    }

    table {
        width: 100%;
        border-color: #674636;
    }

    table, th {
        border: 1px solid #ccc;
        background-color: #F7EFE5;
        padding: 10px;
        text-align: left;
        color: #674636;
    }

    table, td {
        border: 1px solid #ccc;
        background-color: #FCFAEE;
        padding: 10px;
        text-align: left;
    }

    .add-item {
        background-color: #dfbe9f;
        color: #734d26;
        padding: 10px 32px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
        width: 160px;
        border-radius: 200px;
        border: none;
    }

        .add-item:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        }

    .print-invoice {
        background-color: #dfbe9f;
        align-content: center;
        color: #734d26;
        padding: 10px 32px;
        text-align: center;
        font-weight: bold;
        display: inline-block;
        font-size: 20px;
        width: 285px;
        border-radius: 200px;
        border: none;
    }

        .print-invoice:hover {
            box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
            transition: all 0.3s ease;
        }

    .Total {
        width: 150px;
        height: 75px;
        background-color: #FCFAEE;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #333;
        border-radius: 10px;
        color: #6C4E31;
        font-size: 20px;
        font-weight: bold;
    }
</style>
